table {
	border: 0px;
}

table td {
	padding: 5px 25px;
}

table.monthly-calendar {
	text-align: center;
	font-size: 18px;
	border-collapse: collapse;
}

table.monthly-calendar caption {
	line-height: 50px;
}

table.monthly-calendar th, table.monthly-calendar td {
	border: 1px solid #555555;
	border-collapse: separate;
	border-spacing: 10px;
	padding: 5px 10px;
}

table td:empty {
	background:#EEEEEE;
}

table.monthly-calendar tr th:nth-of-type(1) {
	color: #FF0000;
}

table.monthly-calendar tr td:nth-of-type(1) {
	color: #FF0000;
}
table.monthly-calendar tr th:nth-of-type(7) {
	color: #0000FF;
}

table.monthly-calendar tr td:nth-of-type(7) {
	color: #0000FF;
}


input.checked-in-advance  {
	background:#FFBBBB;
}
